/** ACM COMPONENTS **/
@white: white;

/** Screen break points **/
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;

/* Typography */
@font: 'Montserrat', sans-serif;
@body-font: 'Open Sans', sans-serif;